<div class="preloader-wrapper">
  <app-preloader [loading]="loading" [bg]="'none'" [position]="'absolute'"></app-preloader>


  <div class="sellers-holder" *ngIf="sellObjectsList && sellObjectsList.length">
    <psh-sellers-list [data]="sellObjectsList" (sellerSelect)="onSellerSelect($event)" (sellerEditor)="sellerEditor($event)"></psh-sellers-list>
  </div>
  <div class="buyers-holder" *ngIf="buyersList && buyersList.length">
    <psh-buyers-list [data]="buyersList"></psh-buyers-list>
  </div>

  <div  class="empty-list" *ngIf="sellObjectsList && !sellObjectsList.length">
    Seller list is empty
  </div>

</div>
<p-dialog [width]="550" [modal]="true" header="Edit Seller" [(visible)]="showModal" [closable]="false">
  <psh-edit-seller-form (submit)="saveSellerInfo($event)" (cancel)="cancel()" [currentSellObject]="currentSellObject"></psh-edit-seller-form>

</p-dialog>