<div *ngIf="currentSellObject">
  <div class="buyer-description">
    <p>
      <span>MLS ID: {{currentSellObject.id}}
      </span>
    </p>
    <p>
      <span>Address: {{currentSellObject.listing.streetNumber + ' ' + currentSellObject.listing.streetName + ' ' + currentSellObject.listing.city + ' '
        + currentSellObject.listing.state + ' ' + currentSellObject.listing.zipCode}}
      </span>
    </p>
  </div>

  <form class="form" [formGroup]="editForm">

    <div class="buyer-select">
      <p-radioButton name="buyer" value="no buyer" label="No buyer" formControlName="buyer"></p-radioButton>
      <p-radioButton name="buyer" value="new buyer" label="New buyer" formControlName="buyer"></p-radioButton>
      <div class="choose">
        <p-radioButton name="buyer" value="fromList" formControlName="buyer"></p-radioButton>
        <p-dropdown [options]="buyers" #ddBuyers formControlName="ddBuyer" placeholder="Select buyer"></p-dropdown>
      </div>
    </div>
    <div class="control-row">
      <div class="control-col">
        <div class="form-group">
          <input pInputText type="text" formControlName="firstName" placeholder="Agent's First Name" name="fName" class="form-control">
        </div>
        <div class="form-group">
          <input pInputText type="text" formControlName="lastName" placeholder="Agent's Last Name" name="lName" class="form-control">
        </div>
        <div class="form-group">
          <input pInputText type="number" formControlName="phone" placeholder="Phone Number" name="phone" class="form-control">
        </div>
        <div class="form-group">
          <input pInputText type="email" formControlName="email" placeholder="Email" name="email" class="form-control">
        </div>
      </div>

      <div class="control-col notification-method">
        <h4>Notification Method</h4>
        <div class="form-group">
          <p-checkbox name="group" value="Email" label="Email" [formControl]="editForm.controls['notificationType']"></p-checkbox>
          <p-checkbox name="group" value="SMS" label="SMS" [formControl]="editForm.controls['notificationType']"></p-checkbox>
        </div>
      </div>
    </div>

  </form>

  <div class="btns-holder">
    <button pButton type="button" (click)="saveBuyerInfo()" label="Save" class="ui-button-success"></button>
    <button pButton type="button" (click)="onCancel()" label="Cancel" class="ui-button-danger"></button>
  </div>
</div>
