:host /deep/ .content-holder {
  padding: 10px;
  .ui-table {
    font-size: 13px; // .ui-table-tbody {
    //   font-size: 1px;
    // }
    .ui-table-tbody>tr>td {
      word-wrap: break-word;
    }
    .sm-col {
      width: 7%;
    }
  }
  .empty-list {
    width: 210px;
    font-size: 20px;
    padding: 10px;
  }
}

.profile {
  font-size: 30px;
  margin-bottom: 15px;
  p {
    font-size: 18px;
    font-weight: 600;
  }
}