:host /deep/ .content-holder {
  padding: 10px;

  .ui-table {
    font-size: 13px;

    // .ui-table-tbody {
    //   font-size: 1px;
    // }
    .ui-table-tbody>tr>td {
      word-wrap: break-word;
    }
  }
  .empty-list {
    width: 210px;
    font-size: 20px;
    padding: 10px;
  }

}

.name {
  font-size: 30px;
  margin-bottom: 15px;
  span {
    font-size: 24px;
    font-weight: 600;
  }
}
.contacts {
  p {
    font-size: 18px;
    font-weight: 600;
  }
}
