<div class="ui-g">
  <div class="ui-g-12">
    <div class="row">
      <div>
        <h1>Agent's Details</h1>

        <div class="name">{{agentData.firstName}} {{agentData.lastName}} -
          <span>{{agentData.mlsId}}</span>
        </div>
        <div class="contacts">
          <p *ngIf="agentData.phone">Phone: {{agentData.phone}}</p>
          <p>Email: {{agentData.email}}</p>
        </div>

      </div>
    </div>
    <p-tabMenu [model]="items"></p-tabMenu>
    <div class="content-holder">
      <router-outlet></router-outlet>

    </div>
  </div>

</div>