<div class="wrapper">
  <h1>New User Set-up</h1>
  <form [formGroup]="form">
    <div class="form-group">
      <input pInputText type="text" formControlName="mlsId" placeholder="MLS name" name="mlsName" class="form-control" readonly>
    </div>
    <div class="form-group">
      <input pInputText type="text" formControlName="firstName" placeholder="Agent's First Name" name="fName" class="form-control">
    </div>
    <div class="form-group">
      <input pInputText type="text" formControlName="lastName" placeholder="Agent's Last Name" name="lName" class="form-control">
    </div>
    <div class="form-group">
      <input pInputText type="number" formControlName="phone" placeholder="Phone Number" name="phone" class="form-control">
    </div>
    <div class="form-group">
      <input pInputText type="email" formControlName="email" placeholder="Email" name="email" class="form-control">
    </div>

    <div class="form-group">
      <input pInputText type="text" formControlName="username" placeholder="Username" name="username" class="form-control">
    </div>
    <div class="form-group">
      <input pInputText type="password" formControlName="password" placeholder="Password" name="password" class="form-control">
    </div>
    <div class="btn-holder">
      <button pButton [disabled]="!form.valid" class="ui-button-success" type="submit" (click)="onCreateAgent()" label="Register"></button>
    </div>

  </form>
</div>