<div>
  <form [formGroup]="form" class="form">
    <div class="control-col">
      <div class="form-group">
        <input pInputText type="text" formControlName="firstName" placeholder="Agent's First Name" name="fName" class="form-control">
      </div>
      <div class="form-group">
        <input pInputText type="text" formControlName="lastName" placeholder="Agent's Last Name" name="lName" class="form-control">
      </div>
      <div class="form-group">
        <input pInputText type="number" formControlName="phone" placeholder="Phone Number" name="phone" class="form-control">
      </div>
      <div class="form-group">
        <input pInputText type="email" formControlName="email" placeholder="Email" name="email" class="form-control">
      </div>
    </div>

    <div class="control-col">
      <div class="form-group">
        <input pInputText type="text" formControlName="username" placeholder="Username" name="username" class="form-control">
      </div>
      <div class="form-group">
        <input pInputText type="password" formControlName="password" placeholder="Password" name="password" class="form-control">
      </div>
      <div class="form-group">
        <input pInputText type="password" formControlName="confirmPassword" placeholder="Re­enter Password
              " name="password" class="form-control">
      </div>
    </div>

    <div class="control-col">
      <h3>Notification Method</h3>
      <div class="form-group">
        <!-- <p-checkbox [op] [formControl]="form.controls['notificationType']"></p-checkbox> -->
        <p-checkbox name="group" value="EMAIL" label="Email" [formControl]="form.controls['notificationType']"></p-checkbox>
        <p-checkbox name="group" value="PHONE" label="Phone" [formControl]="form.controls['notificationType']"></p-checkbox>
        <p-checkbox name="group" value="PUSH" label="Push notification" [formControl]="form.controls['notificationType']"></p-checkbox>
      </div>
    </div>

    <div class="btns-holder">
      <button disabled="!form.valid" pButton class="ui-button-secondary" type="submit" (click)="onSubmit()" label="Save"></button>
      <button pButton class="ui-button-secondary" type="button" label="Email log in credentials"></button>
      <button pButton class="ui-button-secondary" type="button" label="Cancel Subscription"></button>
    </div>
  </form>
</div>
