.sm-col {
  width: 7%;
}
.truncate {
  display: block;
  width: 52px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.wrapper {
  min-height: 170px;
}
.notifications {
  display: flex;
  flex-direction: column;
}