<div class="wrapper">
  <div class="filter-sidebar">
      <div class="search-holder">
    
          <p-dropdown placeholder="Select the field to filter" [options]="searchType" [(ngModel)]="selectedSearchType"></p-dropdown>
         
          <input placeholder="Search..." (keyup)=filter() [disabled]="!selectedSearchType" [(ngModel)]="queryString" pInputText type="text">
          <div id="listing_details_container"></div>
      </div>
  </div>
 
  <app-full-listing (selectSeller)="onSelectSeller($event)" [listig]="filteredList"></app-full-listing>
</div>
