<div class="wrapper">
  <div class="filter-sidebar">
      <div class="search-holder">
        <div class="form-group">
            <p-dropdown placeholder="Select the field to filter" class="form-control" [options]="searchType" [(ngModel)]="selectedSearchType"></p-dropdown>

        </div>
        <div class="form-group">
            <input class="form-control" placeholder="Search..." (keyup)=filter() [disabled]="!selectedSearchType" [(ngModel)]="queryString" pInputText type="text">

          </div>
         
          <div id="listing_details_container"></div>
      </div>
  </div>
 
  <app-full-listing (selectSeller)="onSelectSeller($event)" [listig]="filteredList"></app-full-listing>
</div>
