<div class="ui-g">
  <div class="ui-g-12">
    <nav id="slide-menu" class="navbar navbar-psh navbar-expand-md">
      <div class="navbar-brand">
        <a routerLink="/" id="logo">
          <img src="../assets/img/logo.png" alt="Prime Showing">
        </a>
      </div>
      <button pButton type="button" class="ui-button-secondary navbar-toggler" icon="fa fa-bars"></button>
      <div class="collapse navbar-collapse justify-content-end">
        <ul id="menu-main-menu" class="navbar-nav">
          <li routerLinkActive="/mls">
            <a routerLink="/mls">Choose MLS</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>

